
ul
{
	padding: 5px;
}
li
{
	list-style-type: none;
}
li
{
	width: 75px;
	height: 75px;	
	margin: 5px;
	background-color: #AAA;
}
li:hover, img:hover
{
	cursor: pointer;	
}
#tools li
{
	background-size: cover;
}
.selected
{
	border: solid #FFF 5px;
	width: 66px;
	height: 66px;
}
#palette
{
	background-color: #AAA;
	width: 95px;
}